<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: White (12.1)</string>
	<string>M12.1-7034.0.86-2</string>
	<string>M12.2.1-7035.0.161-2</string>
	<string>M11.2-7032.0.145-2</string>
	<string>M13.2-7038.0.87-4</string>
	<string>M14.0-7039.0.94-4</string>
	<string>M14.1-7040.0.73-4</string>
</array>
</plist>
